@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Jokes Application</h1>
    <p>The humor on localhost tends to be code-born—think witty console logs, sarcastic error messages, and the occasional joke buried in a forgotten comment</a>.</p>
</div>
